* {
    border: none;
    border-radius: 0px;
    font-family: "DejaVu Sans Mono","CodeNewRoman Nerd Font Propo";
    font-weight: bold;
    font-size: 16px;
    min-height: 10px;
}

@import "theme.css";

window#waybar {
    background: @bar-bg;
}

.modules-left {
    margin:5 0 0 0;
}
.modules-center {
    margin:5 0 0 0;
}
.modules-right {
    margin: 5 0 0 0;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
    color: @wb-act-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    color: @main-fg;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 10s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-cl_end,
#custom-cr_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding:10 4 10 4;

    border:2px solid @wb-act-bg;
    border-right: 0px none;
    border-left: 0px none;
}

#workspaces,
#taskbar {
    padding: 0px;
    border-right: 0px none;
    border-left: 0px none;

}

#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
 
    border:2px solid @wb-act-bg;
    border-left: 0px none;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;

    border:2px solid @wb-act-bg;
    border-right: 0px none;

}

#custom-cr_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
 
    border:2px solid @ws-c-bg;
    border-left: 0px none;
}

#custom-cl_end {
    border-radius: 21px 0px 0px 21px;

    border:2px solid @ws-c-bg;
    border-right: 0px none;

}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
}


.modules-center #custom-l_end,
.modules-center #custom-r_end,
.modules-center #workspaces{
  /* background: #127025; */
  /* border-color: @ws-c-bg; */
}

#custom-l_end,
#custom-r_end,
#network,
#tray,
#clock,
#custom-power,
#battery,
#workspaces{
  border-style:none;
}
